@import "../../app/variable.module.scss";

.CategoriesPage {
  padding: 20px;
}

.widget {
  width: 600px;
}

.widgetHeader {
  display: flex;
  column-gap: 300px;
  background-color: $black;
  border-radius: 10px;
  margin-bottom: 10px;
}

.widgetItem {
  padding: 10px;
  color: #fff;
}

.widgetItem:last-child {
  padding-right: 30px;
}

.list {
  background-color: $black;
  border-radius: 10px;
}

.listItem {
  display: flex;
  align-items: center;
  column-gap: 250px;
  color: #fff;
  padding: 10px 15px;
}

.checkbox {
  margin-left: auto;
  margin-right: 90px;
}
