@import "../../app/variable.module.scss";

.button {
  // position: sticky;
  // left: 10px;
  // bottom: 620px;
  margin: 10px;
  padding: 10px;
  display: flex;
  column-gap: 10px;
  font-size: 30px;
  color: #fff;
  border-radius: 10px;
  justify-content: center;

  &.light {
    color: #000;
  }
}

.button:hover {
  cursor: pointer;
  background-color: $grey;
  border-radius: 10px;
  &.light {
    background-color: $lightgrey;
  }
}
