@import "../../app/variable.module.scss";

.ModalProducts {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #000000, $alpha: 0.7);
  z-index: 10;
  top: 0;
  left: 0;
}

.container {
  position: relative;
  top: 40px;
  left: 350px;
  color: #fff;
  padding: 20px;
  border-radius: 15px;
  background-color: $black;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 750px;
}

.modalForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modalTitle {
  font-size: 20px;
  margin-bottom: 10px;
}

.productTitle {
  font-size: 14px;
}

.modalLabel {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  margin-bottom: 10px;
}

.modalInput {
  background-color: $grey;
  border: 2px solid $orange;
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 14px;
  width: 250px;
}

.modalSelect {
  background-color: $grey;
  border: 2px solid $orange;
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 14px;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.modalInputSmall {
  background-color: $grey;
  border: 2px solid $orange;
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 14px;
  width: 85px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.modalDescription {
  background-color: $grey;
  border: 2px solid $orange;
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 14px;
  resize: none;
  width: 350px;
  height: 180px;
}

.modalBtn {
  padding: 10px 20px;
  border-radius: 10px;
  border: 2px solid $green;
  color: $green;
  margin-bottom: 20px;
}
.modalBtn:hover {
  background-color: $green;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.closeModalBtn {
  color: red;
}

.errorMsg {
  color: red;
  font-size: 16px;
  line-height: 22px;
  width: 300px;
}

.descGroup {
  display: flex;
  column-gap: 5px;
}

.imageNotification {
  display: none;
}

.labelImage {
  color: #fff;
  font-weight: 700;
  padding: 10px;
  background-color: $violet;
  border-radius: 10px;
}
