@import "../../app/variable.module.scss";

.MenuPage {
  padding: 20px;
}

.widget {
  width: 950px;
}

.widgetHeader {
  display: flex;
  background-color: $black;
  border-radius: 10px;
  margin-bottom: 10px;
  color: #fff;
}

.widgetItemName {
  width: 25%;
  padding: 10px;
}

.widgetItemCategories {
  width: 15%;
  padding: 10px;
}

.widgetItemPrice {
  width: 15%;
  padding: 10px;
}

.widgetItemQuantity {
  width: 15%;
  padding: 10px;
}

.widgetItemAvailability {
  width: 15%;
  padding: 10px;
}

.widgetItemPopular {
  width: 15%;
  padding: 10px;
}

.list {
  background-color: $black;
  border-radius: 10px;
}

.listItem {
  display: flex;
  align-items: center;
  color: #fff;
  padding: 10px 10px;
}

.itemName {
  width: 25%;
}

.itemCategories {
  padding-left: 10px;
  width: 15%;
}

.itemPrice {
  padding-left: 10px;
  width: 15%;
}

.itemQuantity {
  padding-left: 40px;
  width: 15%;
}

.checkbox {
  padding-left: 40px;
  width: 15%;
}

.checkboxPopular {
  text-align: center;
  width: 15%;
}
