@import "../../app/variable.module.scss";

.container {
  display: flex;
  align-items: center;
}

.tableRow {
  display: flex;
  width: 100%;
  column-gap: 20px;
  background-color: $black;
  border-radius: 10px;
  margin-bottom: 10px;
  color: #fff;
  padding: 10px 20px;
  &.light {
    background-color: #fff;
    color: #000;
  }
}

.tableRow:nth-last-child(odd) {
  background-color: $grey;
  &.light {
    background-color: $lightgreen;
  }
}

.tableColumn:first-child {
  width: 120px;
}

.tableColumn {
  min-width: 90px;
}

.deleteBtn {
  margin-left: 10px;
  font-size: 12px;
  color: red;
  border: 1px solid red;
  border-radius: 10px;
  padding: 5px 10px;
}

.deleteBtn:hover {
  background-color: red;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.editBtn {
  margin-left: 10px;
  font-size: 12px;
  color: $orange;
  border: 1px solid $orange;
  border-radius: 10px;
  padding: 5px 10px;
}

.editBtn:hover {
  background-color: $orange;
  color: #fff;
  transition: all 0.3s ease-in-out;
}
