@import "../../app/variable.module.scss";

.sidebar {
  color: #fff;
  background-color: #212121;
  width: 30vh;
  min-height: 100vh;
  padding: 5px;
  border-right: 1px $grey solid;

  -webkit-box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.8);
  box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.8);
  &.light {
    background-color: #fff;
  }
}
