@import "../../app/variable.module.scss";

.sidebar {
  position: sticky;
  top: 80px;
  left: 0;
  bottom: 0;
  right: 0;
  color: #fff;
  background-color: #212121;
  min-width: 230px;
  height: 86vh;
  padding: 5px;
  border-right: 1px $grey solid;

  -webkit-box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.8);
  box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.8);
  &.light {
    background-color: #fff;
  }
}
