@import "../../app/variable.module.scss";

.LoginForm {
  width: 40%;
  min-height: 400px;
  background-color: $black;
  margin: 0;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 20px;
}

.title {
  color: #fff;
  text-align: center;
  font-size: 25px;
  font-weight: 800;
  margin-bottom: 30px;
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
}

.label {
  display: flex;
  flex-direction: column;
  color: #fff;
  row-gap: 10px;
}

.input {
  color: #000;
  background-color: #e2e2e2;
  width: 350px;
  border-radius: 10px;
  outline: 2px solid $orange;
  border: 0;
  outline-offset: 3px;
  padding: 10px 1rem;
  transition: 0.25s;
}

.input:focus {
  outline: 2px solid $orange;
  outline-offset: 5px;
  background-color: #fff;
}

.submit {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 10px;
  background-color: $orange;
}

.errorMsg {
  color: red;
  font-size: 16px;
  line-height: 22px;
  width: 300px;
}

.link {
  padding: 15px;
  color: $blue;
}

.logoText {
  color: white;
  font-size: 28px;
  margin-bottom: 20px;
}

.logo {
  color: $blue;
  font-size: 48px;
}
