.page {
  display: flex;
  flex-direction: column;
}

.navbar {
  position: sticky;
  left: 0;
  top: 0;
}

.sidebar {
  position: sticky;
  z-index: 10;
  bottom: 190px;
  left: 10px;
  width: 100px;
}

.content {
  padding-left: 100px;
}

.footer {
  position: sticky;
  left: 0;
  bottom: 0;
}
