@import "../../app/variable.module.scss";

.table {
  width: 1000px;
}

.tableHeader {
  display: flex;
  background-color: $black;
  border-radius: 10px;
  margin-bottom: 10px;
  color: #fff;
  padding: 10px;
  &.light {
    background-color: #fff;
    color: #000;
  }
}

.tableColumn:first-child {
  width: 25%;
}

.tableColumn {
  width: 15%;
}
