@import "../../app/variable.module.scss";

.item {
  margin: 10px;
  padding: 10px;
  display: flex;
  column-gap: 10px;
  font-size: 30px;
  color: #fff;
  border-radius: 10px;
  justify-content: center;
  &.active {
    background-color: $violet;
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
    &.light {
      background-color: $blue;
    }
  }
  &.active:hover {
    background-color: $violet;
  }
  &.light {
    color: #000;
  }
}

.item:hover {
  cursor: pointer;
  background-color: $grey;
  border-radius: 10px;
  &.light {
    background-color: $lightgrey;
  }
}
