@import "../../app/variable.module.scss";

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  margin: 5px;
  font-size: 20px;
  border-radius: 10px;
  padding: 10px;
  &.add {
    border: 2px solid $green;
    color: $green;
    &.light {
      background-color: $green;
      color: #fff;
    }
  }
  &.delete {
    color: red;
    border: 2px solid red;
    &.light {
      background-color: red;
      color: #fff;
    }
  }
  &.edit {
    color: $orange;
    border: 2px solid $orange;
    &.light {
      background-color: $orange;
      color: #fff;
    }
  }
}

.add:hover {
  background-color: $green;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.delete:hover {
  background-color: red;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.edit:hover {
  background-color: $orange;
  color: #fff;
  transition: all 0.3s ease-in-out;
}
