@import "../../app/variable.module.scss";

.ModalCategories {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #000000, $alpha: 0.7);
  z-index: 10;
  top: 0;
  left: 0;
  &.close {
    display: none;
  }
}

.container {
  position: relative;
  top: 220px;
  left: 470px;
  color: #fff;
  padding: 20px;
  border-radius: 15px;
  background-color: $black;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
}

.modalForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modalTitle {
  font-size: 20px;
  margin-bottom: 20px;
}

.modalLabel {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  margin-bottom: 20px;
}

.modalInput {
  background-color: $grey;
  border: 2px solid $orange;
  border-radius: 10px;
  padding: 10px 20px;
}

.modalBtn {
  padding: 10px 20px;
  border-radius: 10px;
  border: 2px solid $green;
  color: $green;
  margin-bottom: 20px;
}
.modalBtn:hover {
  background-color: $green;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.closeModalBtn {
  color: red;
}

.errorMsg {
  color: red;
  font-size: 16px;
  line-height: 22px;
  width: 300px;
}
